html    {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #121C84, #4218B8);
}

.expBtn1 {
    background-color: #1d1c1c;
    color: #FFFDFA;
    border-radius: 10px;
    border: #1d1c1c;
    width: 80px;
    height: 23px;
}

.expBtn2 {
    background-color: #333;
    color: #FFFDFA;
    border-radius: 10px;
    border: #333;
    width: 80px;
    height: 23px;
}

.compBtn {
    background-color: #1d1c1c;
    color: #FFFDFA;
    border-radius: 10px;
    border: #1d1c1c;
    width: 120px;
    height: 60px;
    margin: 20px;
    
}

.txt   {
    color: #FFFDFA;
    font-weight: bold;
}

.info {
    background-color: #FFFDFA;
    border-radius: 10px;
    border: #1d1c1c;
    height: 60px;
}

ul  {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    text-align: center;
}

li  {
    display:inline-block;
    padding: 5px;
    
}

#item4 {
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    background-color: #1d1c1c;
}

.item  {
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    background-color: #333;
}

.info-item {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #FFFDFA;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}

.map {
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    background-color: #333;
}

.container    {
    display: grid;
    width: 98.5%;
    height: 100%;
    gap: 10px;
}
.item  {
    max-width: 100%;
    padding: 5px;
}

@media (min-width: 1300px)   {
    #map {
        height: 820px;
    }
    .item {
        height: 290px;
    }
    .container  {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 20% 20% 30% 30%;
    }
    #item1  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    #item2  {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #item3  {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #item4  {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #item5  {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #item6  {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (max-width: 1299px)   {
    #map {
        height: 610px;
    }
    .container  {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 30% 30% 40%;
    }
    #item1  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    #item2  {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #item3  {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #item4  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #item5  {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #item6  {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (max-width: 799px)   {
    #map {
        height: 600px;
    }
    .compBtn {
        width: 60px;
    }
    .info {
        text-align: left;
        padding-left: 10px;
        font-size: 10pt;
    }
    .container  {
        grid-template-columns: 100%;
        grid-template-rows: 20% 70% 30% 30% 30% 30%;
    }   
    #item1  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #item2  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #item3  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #item4  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #item5  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}