html    {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #121C84, #4218B8);
}
.txt   {
    color: #ffffff;
    font-weight: bold;
}

ul  {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}

li  {
    display:inline-flex;
    padding: 5px;
}

#map    {
    height: 600px;
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    min-width: 350px;
}

#chart  {
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    background-color: #333;
}

#chart2  {
    border: 3px solid rgb(47, 0, 255);
    border-radius: 10px;
    background-color: #333;
}

.container    {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
}
.item1  {
    max-width: 100%;
    padding: 5px;
}
.item2  {
    max-width: 100%;
    padding: 5px;
}

@media (min-width: 800px)   {
}

@media (max-width: 799px)   {
    .container  {
        grid-template-columns: 100%
    }   
    .item1  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item2  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}